@import url(http://fonts.googleapis.com/css?family=Muli);
.page-user-addressbook .view-commerce-addressbook td {
  display: table-cell; }

.grippie {
  display: none !important; }

.zone-user-wrapper {
  background: #000; }
  .zone-user-wrapper #block-superfish-1 ul li {
    line-height: 11px; }
    .zone-user-wrapper #block-superfish-1 ul li.first {
      margin-top: -1px; }
    .zone-user-wrapper #block-superfish-1 ul li ul {
      width: 100%; }
      .zone-user-wrapper #block-superfish-1 ul li ul li.sf-depth-2 {
        margin: 0 auto; }
      .zone-user-wrapper #block-superfish-1 ul li ul li.first {
        margin-top: -1px; }

#block-menu-secondary-navigation ul li.leaf {
  list-style-image: none;
  list-style-type: none;
  float: left; }

#block-views-exp-display-products-page {
  margin-top: 60px; }

#zone-branding #region-menu {
  float: right; }
  #zone-branding #region-menu #block-menu-secondary-navigation {
    position: initial; }
  #zone-branding #region-menu .menu li a {
    text-transform: lowercase;
    color: #000;
    font-size: 20px; }
    #zone-branding #region-menu .menu li a:hover {
      border-bottom: 2px solid #01a8e0; }

body {
  background: #eaeaea; }

.zone-content-wrapper {
  background: #fff; }

#block-views-blog-block-2 .node-blog-post {
  border: none; }
#block-views-blog-block-2 h2.field-name-title-field {
  font-size: 18px; }
#block-views-blog-block-2 .views-row {
  float: left;
  width: 295px; }
  #block-views-blog-block-2 .views-row nav, #block-views-blog-block-2 .views-row a {
    padding-left: 0; }
#block-views-blog-block-2 h2 {
  font-size: 13px;
  font-weight: bold;
  text-transform: none;
  color: #01a8e0; }
#block-views-blog-block-2 p {
  font-size: 12px;
  color: #2d2d2d;
  margin: 10px 0; }

#zone-header {
  width: 100%; }

#region-header-first {
  width: 100%;
  margin: 0; }

#zone-postscript-wrapper {
  background-size: contain !important;
  background-color: #ffffff;
  background-image: url("../images/share-your-story.jpg");
  background-repeat: no-repeat;
  height: 100%; }

#block-views-front-page-testimonials-block .views-row {
  float: left;
  width: 32%;
  margin: 0 10px 0 0;
  height: 350px; }
  #block-views-front-page-testimonials-block .views-row li.node-readmore a {
    border: none;
    background: none;
    padding-right: 0; }
  #block-views-front-page-testimonials-block .views-row nav.links {
    margin-right: 0; }
  #block-views-front-page-testimonials-block .views-row .field-name-field-name {
    color: #4386be;
    border-bottom: 1px solid #c7c7c7; }
  #block-views-front-page-testimonials-block .views-row li.comment-comments {
    display: none; }
  #block-views-front-page-testimonials-block .views-row .node-testimonials {
    border: none; }
  #block-views-front-page-testimonials-block .views-row hr {
    background: transparent; }
#block-views-front-page-testimonials-block h2 {
  font-size: 45px;
  margin: 41px 0;
  color: #fff; }
#block-views-front-page-testimonials-block .field-name-field-personal-image {
  text-align: center; }
  #block-views-front-page-testimonials-block .field-name-field-personal-image img {
    border-radius: 60px; }
#block-views-front-page-testimonials-block .field-name-field-name {
  text-align: center;
  font-weight: bold;
  color: #01a8e0;
  margin: 10px 0; }
#block-views-front-page-testimonials-block .field-name-body {
  font-size: 12px;
  text-align: center;
  margin: 10px 0;
  height: 93px; }
#block-views-front-page-testimonials-block .node-teaser nav {
  text-align: center; }

.node-product-type-full .commerce-product-field .field-name-body .summary span.read-more a.more-link {
  float: left; }

#block-views-blog-block-2 .views-row .node-blog-post .content {
  height: 300px; }
#block-views-blog-block-2 .views-row .node-blog-post .links a {
  color: #ff0000;
  border: none;
  background: transparent; }
#block-views-blog-block-2 .views-row .node-blog-post li.comment-comments {
  display: none; }

.node-type-product-display .service-links {
  float: left;
  width: 100%; }
  .node-type-product-display .service-links ul {
    padding: 0;
    margin: 0; }
    .node-type-product-display .service-links ul li {
      margin: 0; }
.node-type-product-display .quicktabs_main {
  background: #FAFAFA;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #DBDBDB; }
.node-type-product-display .item-list ul {
  padding: 4px 0;
  margin: 0; }
  .node-type-product-display .item-list ul li a {
    padding: 5px 21px 5px;
    background: #DAD3D3;
    border-top: 1px solid #DBDBDB;
    border-right: 1px solid #DBDBDB;
    border-left: 1px solid #DBDBDB;
    border-radius: 2px 2px 0 0; }

.block-product-tabs-block ul.quicktabs-tabs li.active a.active {
  background: #FAFAFA;
  font-weight: bold; }

.node-product-type .field-name-field-product .commerce-add-to-cart {
  background: none !important; }
  .node-product-type .field-name-field-product .commerce-add-to-cart label {
    float: left;
    width: 30%; }

.node-product-type .cloud-zoom-container .cloud-zoom-gallery-thumbs .cloud-zoom-gallery {
  margin: 5px 10px 5px 0; }

.page-products #region-content h1#page-title {
  display: none; }
.page-products #zone-preface {
  background: transparent; }
.page-products .region-sidebar-first {
  background: #1b1b1b;
  color: #fff;
  border-radius: 3px; }

.page-products .view-id-display_products ul.pager li {
  float: none; }

.view-id-display_products {
  width: 105%; }
  .view-id-display_products .views-row {
    float: left;
    background: #fff;
    margin: 0 10px 10px 0;
    padding: 10px;
    width: 152px;
    height: 450px;
    border: 1px solid #c4c4c4;
    position: relative; }
    .view-id-display_products .views-row .form-type-select select {
      position: absolute;
      top: 264px;
      left: 7px; }
    .view-id-display_products .views-row .commerce-product-field-field-images {
      height: 245px; }
    .view-id-display_products .views-row h2.field-name-title-field {
      height: 30px;
      font-size: 11px;
      text-align: center;
      font-weight: bold;
      text-shadow: 0 0 5px #DBDBDB; }
    .view-id-display_products .views-row h3.field-label {
      display: none; }
    .view-id-display_products .views-row span.price_prefix {
      display: none; }
    .view-id-display_products .views-row .field-name-commerce-price {
      font-size: 13px;
      text-align: center; }
    .view-id-display_products .views-row .field-name-field-product {
      margin-bottom: 0;
      padding-bottom: 0; }
      .view-id-display_products .views-row .field-name-field-product .form-item-quantity label {
        float: left;
        margin-left: 15px; }
      .view-id-display_products .views-row .field-name-field-product .form-item-quantity input {
        width: 26px; }
      .view-id-display_products .views-row .field-name-field-product .commerce-add-to-cart {
        padding-top: 0; }
        .view-id-display_products .views-row .field-name-field-product .commerce-add-to-cart .form-submit {
          margin-top: 0;
          margin-left: 0; }

#region-sidebar-first section {
  border-top: 1px dashed #B3A17B;
  margin: 0;
  padding: 20px 30px;
  font-family: 'Muli', sans-serif;
  font-size: 11px;
  font-weight: 700;
  color: #fff; }
  #region-sidebar-first section a {
    font-family: 'Muli', sans-serif;
    font-size: 11px;
    font-weight: 700;
    color: #fff; }
#region-sidebar-first h2 {
  color: #389BF3;
  font-family: 'Muli', sans-serif;
  font-size: 16px; }

#zone-footer-wrapper {
  background: #35C1F2; }

#node-page-1 .field-name-body iframe {
  width: 100%; }

.page-node-1 #block-webform-client-block-292 {
  background: #898989;
  padding: 10px 30px 10px 30px; }
  .page-node-1 #block-webform-client-block-292 .webform-component--name {
    width: 25%; }
  .page-node-1 #block-webform-client-block-292 .webform-component--e-mail-address {
    width: 30%; }

.not-logged-in .sf-menu-login-menu {
  display: none !important; }

.logged-in .sf-menu-not-logged-in-menu {
  display: none !important; }

#commerce-checkout-form-checkout #customer-profile-billing-ajax-wrapper {
  float: left;
  width: 50%; }
#commerce-checkout-form-checkout #customer-profile-shipping-ajax-wrapper {
  float: right;
  width: 50%; }
