@import url(http://fonts.googleapis.com/css?family=Muli);

//Address Book
.page-user-addressbook {
	.view-commerce-addressbook td {
  		display: table-cell;
  	}
}

.zone-user-wrapper {
  background: #000;
}

#block-menu-secondary-navigation {
	ul {
		li.leaf {
			list-style-image: none;
  			list-style-type: none;
  			float: left;
		}
	}
}

#block-views-exp-display-products-page {
  margin-top: 60px;
}

#zone-branding {
	#region-menu {
  		float: right;
	}
}

body {
  background: #eaeaea;
}


//Blog
.zone-content-wrapper {
  background: #fff;
}

#block-views-blog-block-2 {
	.node-blog-post {
  		border: none;
	}

	.views-row {
		float: left;
		width: 295px;
	}

	h2 {
		font-size: 13px;
  		font-weight: bold;
  		text-transform: none;
  		color: #01a8e0;
	}

	p {
		font-size: 12px;
		color: #2d2d2d;
		margin: 10px 0;
	}
}


//Slideshow
#zone-header {
  width: 100%;
}

#region-header-first {
  width: 100%;
  margin: 0;
}


//Testimonials
#zone-postscript-wrapper {
  background-size: contain !important;
  background-color: #ffffff;
  background-image: url("../images/share-your-story.jpg");
  background-repeat: no-repeat;
  height: 100%;
}

#block-views-front-page-testimonials-block {
	.views-row {
  		float: left;
  		width: 32%;
 		margin: 0 10px 0 0;
  		height: 350px;

  		.node-testimonials {
  			border: none;
  		}

  		hr {
  			background: transparent;
  		}
	}

	h2 {
		font-size: 45px;
  		margin: 41px 0;
  		color: #fff;
	}

	.field-name-field-personal-image {
		text-align: center;

		img {
			border-radius: 60px;
		}
	}

	.field-name-field-name {
		text-align: center;
  		font-weight: bold;
  		color: #01a8e0;
  		margin: 10px 0;
	}

	.field-name-body {
		font-size: 12px;
  		text-align: center;
  		margin: 10px 0;
  		height: 93px;
	}

	.node-teaser {
		nav {
			text-align: center;
		}
	}
}


//Products

#block-views-blog-block-2 {
	.views-row {
		.links a {
			color: #ff0000;
			border: none;
			background: transparent;
		}
		
		li.comment-comments {
			display: none;
		}
	}
}

.node-type-product-display {

	.service-links {
	float: left;
	width: 100%;

		ul {
		padding: 0;
		margin: 0;

			li {
			margin: 0;
			}
		}
	}

	.quicktabs_main {
		  background: #FAFAFA;
		  padding: 10px;
		  border-radius: 3px;
		  border: 1px solid #DBDBDB;		}

	.item-list {

				ul {
					padding: 4px 0;
					margin: 0;

					li {

						a {
				  			padding: 5px 21px 5px;
				  			background: #DAD3D3;
				  			border-top: 1px solid #DBDBDB;
				  			border-right: 1px solid #DBDBDB;
				  			border-left: 1px solid #DBDBDB;
				  			border-radius: 2px 2px 0 0;
				}
			}
		}
	}
}


.node-type-product-display {
.block-product-tabs-block {
    ul.quicktabs-tabs {
        li.active {
              a.active {
              	background: #FAFAFA;
              	font-weight: bold;
              }
        }
    }
}

.node-product-type {
	.field-name-field-product {
		.commerce-add-to-cart {
			label {
				float: left;
				width: 30%;
		}	}
	}
}

.node-product-type {
	.cloud-zoom-container {
		.cloud-zoom-gallery-thumbs {
			.cloud-zoom-gallery {
				  margin: 5px 10px 5px 0;
				} 
			}
		}
	}
}

.page-products {
	.region-sidebar-first {
		background: #1b1b1b;
		color: #fff;
		border-radius: 3px;
	}
}

.view-id-display_products .all-products {
	li.views-row {
		padding: 25px 0 0 0;
		margin: 5px;
		border: solid 1px #C4C4C4;
		padding-right: 0;
		padding-bottom: 0;
		text-align: center;

		h2 a {
			color: #2698f2;

			&:hover {
				color: #000;
			}
		}
	}
}

#region-sidebar-first {
	section {
		border-top: 1px dashed #B3A17B;
		margin: 0;
		padding: 20px 30px;
		font-family: 'Muli', sans-serif;
    	font-size: 11px;
    	font-weight: 700;
    	color: #fff;

    	a {
    		font-family: 'Muli', sans-serif;
    		font-size: 11px;
    		font-weight: 700;
    		color: #fff;
    	}
	}

	h2 {
		color: #389BF3;
		font-family: 'Muli', sans-serif;
    	font-size: 16px;
	}
}