//Address Book
.page-user-addressbook {
	.view-commerce-addressbook td {
  		display: table-cell;
  	}
}

.zone-user-wrapper {
  background: #000;
}

#block-menu-secondary-navigation {
	ul {
		li.leaf {
			list-style-image: none;
  			list-style-type: none;
  			float: left;
		}
	}
}

#block-views-exp-display-products-page {
  margin-top: 60px;
}

#zone-branding {
	#region-menu {
  		float: right;
	}
}

body {
  background: #eaeaea;
}


//Blog
.zone-content-wrapper {
  background: #fff;
}

#block-views-blog-block-2 {
	.node-blog-post {
  		border: none;
	}

	.views-row {
		float: left;
		width: 295px;
	}

	h2 {
		font-size: 13px;
  		font-weight: bold;
  		text-transform: none;
  		color: #01a8e0;
	}

	p {
		font-size: 12px;
		color: #2d2d2d;
		margin: 10px 0;
	}
}


//Slideshow
#zone-header {
  width: 100%;
}

#region-header-first {
  width: 100%;
  margin: 0;
}


//Testimonials
#zone-postscript-wrapper {
  background-size: contain !important;
  background-color: #ffffff;
  background-image: url("../images/share-your-story.jpg");
  background-repeat: no-repeat;
  height: 100%;
}

#block-views-front-page-testimonials-block {
	.views-row {
  		float: left;
  		width: 32%;
 		margin: 0 10px 0 0;
  		height: 350px;

  		.node-testimonials {
  			border: none;
  		}

  		hr {
  			background: transparent;
  		}
	}

	h2 {
		font-size: 45px;
  		margin: 41px 0;
  		color: #fff;
	}

	.field-name-field-personal-image {
		text-align: center;

		img {
			border-radius: 60px;
		}
	}

	.field-name-field-name {
		text-align: center;
  		font-weight: bold;
  		color: #01a8e0;
  		margin: 10px 0;
	}

	.field-name-body {
		font-size: 12px;
  		text-align: center;
  		margin: 10px 0;
  		height: 93px;
	}

	.node-teaser {
		nav {
			text-align: center;
		}
	}
}


//Products

#block-views-blog-block-2 {
	.views-row {
		.links a {
			color: #ff0000;
			border: none;
			background: transparent;
		}
		
		li.comment-comments {
			display: none;
		}
	}
}

.node-type-product-display {
	
	#block-views-product-tabs-block {

		#quicktabs-container-view__product_tabs__block {
			background: #eaeaea;
			padding: 10px;
  			border-radius: 3px;
		}

		.item-list {

			ul {

				margin: 0;

				li {
					padding: 5px 22px;
  					background: #eaeaea;
				}
			}

		}
	}
}
